<phpunit backupGlobals="false" backupStaticAttributes="true"
	bootstrap="bootstrap.php" colors="true">

	<testsuites>
		<testsuite name="Tests">
			<directory suffix=".php">.</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">../application</directory>
		</whitelist>
	</filter>

</phpunit>
